footer {
  z-index: 5;
  opacity: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #e0e0e0; */
  height: 5.5rem;
  flex-direction: column;
  padding: 5px 0;
  /* background-color: #212121cc; */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3337710084033614) 59%,
    rgba(82, 82, 82, 0.5494572829131652) 88%,
    rgba(255, 255, 255, 0.3309698879551821) 94%
  );
}

.footer-ul {
  display: flex;
  padding: 10px 24px;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-bottom: 0.5px solid #dfe0df9f;
  min-width: 550px;
}

.footer-ul li {
  color: #000;
  font-size: 15px;
}

.white {
  color: #000;
}
.white:hover {
  color: #000;
}

.fa-github,
.fa-linkedin {
  font-size: 20px;
  transition-duration: 0.4s;
}

.fa-github:hover,
.fa-linkedin:hover {
  transform: scale(1.3);
}

.footer-text {
  color: white;
  transition-duration: 0.4s;
}

.footer-text:hover {
  color: white;
  transform: scale(1.1);
}
