.crud-buttons {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.photos-h2 {
  margin-top: 1em;
  font-size: 20px;
  color: rgba(45, 46, 47, 1);
  font-weight: bold;
}

.photos-title-container {
  display: flex;
  justify-content: center;
}

.action-button {
  display: block;
  margin-left: 1em;
}

.action-button:hover {
  color: #fff;
  background-color: #ff9900;
  /* transform: scale(1.06); */
  /* box-shadow: 0 5px 15px rgba(255, 10, 55, 0.4); */
}

.business-details-right {
  display: block;
  width: 100%;
}

.business-info-details {
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  margin: auto;
  font-size: 15px;
  font-weight: bold;

  /* display: flex; */
  /* justify-content: center; */
  /* margin: 0; */
  position: fixed;
  /* width: 100%; */
  /* z-index: 3; */
  /* max-height: 8rem; */
  top: 50;
  /* left: 800; */
  /* bottom: 800; */
}

.website-h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
  color: rgba(45, 46, 47, 0.9);
}

.business-website-details-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
}

.business-website-details-section a {
  text-decoration: none;
  color: rgba(2, 122, 151, 1);
}

.business-website-details-section a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.business-phone-details-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(45, 46, 47, 0.8);
}

.business-address-details-section {
  padding-top: 15px;
  color: rgba(45, 46, 47, 0.8);
}

.business-address-details-section > a {
  color: rgba(2, 122, 151, 1);
  text-decoration: none;
}

.business-map {
  display: grid;
  justify-content: center;
  margin-top: 25px;
}

@media screen and (min-width: 800px) {
  .business-details-container {
    display: grid;
    grid-template-columns: 4fr 2.5fr;
    width: 89%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .action-button {
    color: #fff;
    background-color: #0e0f10;
    border: 1.4px solid rgb(160, 158, 158);
    /* border: 2px solid #205a79; */
    transition: color 0.15s ease-in-out;
    box-sizing: border-box;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 820px) {
  .business-details-container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .action-button {
    /* color: #fff;
    background-color: rgb(255, 10, 55);
    border: 1.4px solid rgb(160, 158, 158); */
    color: #fff;
    background-color: #0e0f10;
    border: 1.4px solid rgb(160, 158, 158);
    transition: color 0.15s ease-in-out;
    box-sizing: border-box;
    padding: 5px 5px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
  }
}

.number-star-rating-banner-business-details {
  color: yellow;
  font-size: 25px;
}

.images_container {
  /* width: 100%; */
  /* height: 100px; */
  margin-top: 2em;
}

.images-in-the-container {
  width: 15em;
  border-radius: 10px;
  max-width: 14em;
  max-height: 14em;
}

.images-in-the-container:hover {
  opacity: 0.8;
  transform: scale(1.06);
  cursor: pointer;
}

button.gallery-control.gallery-control--next,
button.gallery-control.gallery-control--prev {
  border: none;
}

/* .info_window_phone {
  text-align: center;
} */

.star-svg-icon {
  margin-right: 0.5em;
  height: 20px;
}

/*! CSS Used from: Embedded */
/* div,
span,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */
.css-4ut3yi {
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-property: background-image, background-color,
    background-position, background-size, border-color, box-shadow, opacity;
  transition-property: background-image, background-color, background-position,
    background-size, border-color, box-shadow, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: auto;
  background-color: rgba(224, 7, 7, 1);
  color: rgba(255, 255, 255, 1);
  background-position: calc(
      var(--mousedown-x) - calc(var(--button-width, 100px) * 200) / 2
    )
    calc(var(--mousedown-y) - calc(var(--button-width, 100px) * 200) / 2);
  background-size: calc(var(--button-width, 100px) * 200)
    calc(var(--button-width, 100px) * 200);
}
.css-4ut3yi:active,
.css-4ut3yi:focus,
.css-4ut3yi:hover,
.css-4ut3yi:visited {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.css-4ut3yi:disabled {
  background-color: rgba(235, 235, 235, 1);
  background-image: none;
  border-color: rgba(235, 235, 235, 1);
  box-shadow: none;
  color: rgba(200, 201, 202, 1);
  outline: none;
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
}
.css-4ut3yi:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}
.css-4ut3yi:focus {
  outline: 2px solid rgba(2, 122, 151, 1);
  outline-offset: 1px;
}
.css-4ut3yi:focus:not(:focus-visible) {
  outline: 0;
}
@media (pointer: coarse) {
  .css-4ut3yi:hover {
    box-shadow: none;
  }
}
.css-4ut3yi:active {
  color: rgba(255, 255, 255, 1);
}
.css-4ut3yi:focus {
  background-color: rgb(249, 19, 27);
}
.css-4ut3yi:hover {
  background-color: #ff9900;
  color: rgba(255, 255, 255, 1);
}
.css-110vchp {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.css-tza3mu {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -0.1em;
  fill: currentColor;
  top: 0;
}
.css-tza3mu::before {
  position: absolute;
  display: block;
  left: 0;
}
.css-tza3mu::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.css-tza3mu svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: inherit;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.css-1enow5j {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  color: inherit;
  text-align: center;
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  -webkit-letter-spacing: -0.2px !important;
  -moz-letter-spacing: -0.2px !important;
  -ms-letter-spacing: -0.2px !important;
  letter-spacing: -0.2px !important;
  line-height: 24px !important;
  margin-top: 1px !important;
}
/*! CSS Used from: Embedded */
/* div,
span,
a {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
} */
/*! CSS Used from: https://s3-media0.fl.yelpcdn.com/assets/public/yelp-frontend-gondola-biz-details-pkg.yji-f05fe49aff007d44a7c4.css ; media=all */
@media all {
  .padding-r1__09f24__ibKww {
    padding-right: 8px !important;
  }
  .border-color--default__09f24__NPAKY {
    border-color: #ebebeb;
  }
}
/*! CSS Used fontfaces */
@font-face {
  font-display: optional;
  font-family: Poppins;
  font-weight: 500;
  src: url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-medium.yji-dc16a3592fdb61b620cc.woff2)
      format("woff2"),
    url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-medium.yji-468213c1a9cf4ac0ed6b.woff)
      format("woff");
}
@font-face {
  font-display: optional;
  font-family: Poppins;
  font-weight: 700;
  src: url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-bold.yji-9690ce6275ddc5645cfa.woff2)
      format("woff2"),
    url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-bold.yji-0a53cdc68b4438be7b7d.woff)
      format("woff");
}

/*! CSS Used from: Embedded */
/* div,
span,
h2,
p,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
section {
  display: block;
} */
.css-1enow5j {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  color: inherit;
  text-align: center;
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  -webkit-letter-spacing: -0.2px !important;
  -moz-letter-spacing: -0.2px !important;
  -ms-letter-spacing: -0.2px !important;
  letter-spacing: -0.2px !important;
  line-height: 24px !important;
  margin-top: 1px !important;
}
.css-1jp7iek {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-property: background-image, background-color,
    background-position, background-size, border-color, box-shadow, opacity;
  transition-property: background-image, background-color, background-position,
    background-size, border-color, box-shadow, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: auto;
  background-color: transparent;
  border: 1px solid rgba(200, 201, 202, 1);
  color: rgba(45, 46, 47, 1);
  background-position: calc(
      var(--mousedown-x) - calc(var(--button-width, 100px) * 200) / 2
    )
    calc(var(--mousedown-y) - calc(var(--button-width, 100px) * 200) / 2);
  background-size: calc(var(--button-width, 100px) * 200)
    calc(var(--button-width, 100px) * 200);
}
.css-1jp7iek:disabled {
  background-color: rgba(235, 235, 235, 1);
  background-image: none;
  border-color: rgba(235, 235, 235, 1);
  box-shadow: none;
  color: rgba(200, 201, 202, 1);
  outline: none;
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
}
.css-1jp7iek:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}
.css-1jp7iek:focus {
  outline: 2px solid rgba(2, 122, 151, 1);
  outline-offset: 1px;
}
.css-1jp7iek:focus:not(:focus-visible) {
  outline: 0;
}
@media (pointer: coarse) {
  .css-1jp7iek:hover {
    box-shadow: none;
  }
}
.css-1jp7iek:active {
  color: rgba(45, 46, 47, 1);
}
.css-1jp7iek:disabled {
  background-color: transparent;
  border: 1px solid rgba(227, 227, 227, 1);
}
.css-1jp7iek:focus {
  background-color: rgba(0, 0, 0, 0.12);
}
.css-1jp7iek:hover {
  background-color: rgba(241, 31, 31, 0.12);
  color: rgba(45, 46, 47, 1);
  box-shadow: none;
}
.css-cfcjyn {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  -webkit-letter-spacing: -0.4px;
  -moz-letter-spacing: -0.4px;
  -ms-letter-spacing: -0.4px;
  letter-spacing: -0.4px;
  line-height: 28px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: rgba(45, 46, 47, 1);
  display: inline;
}
.css-1p9ibgf {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(45, 46, 47, 1);
  text-align: left;
}
.css-106vfgv {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -0.1em;
}
.css-106vfgv::before {
  position: absolute;
  display: block;
  left: 0;
}
.css-106vfgv::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.css-106vfgv svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: inherit;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.css-1wayfxy {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-weight: 600;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: inherit;
  color: inherit;
  text-align: left;
}
/*! CSS Used from: Embedded */
/* div,
span,
h2,
p,
a,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
section {
  display: block;
} */
.css-1enow5j {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  color: inherit;
  text-align: center;
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  -webkit-letter-spacing: -0.2px !important;
  -moz-letter-spacing: -0.2px !important;
  -ms-letter-spacing: -0.2px !important;
  letter-spacing: -0.2px !important;
  line-height: 24px !important;
  margin-top: 1px !important;
}
.css-1jp7iek {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-property: background-image, background-color,
    background-position, background-size, border-color, box-shadow, opacity;
  transition-property: background-image, background-color, background-position,
    background-size, border-color, box-shadow, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: auto;
  background-color: transparent;
  border: 1px solid rgba(200, 201, 202, 1);
  color: rgba(45, 46, 47, 1);
  background-position: calc(
      var(--mousedown-x) - calc(var(--button-width, 100px) * 200) / 2
    )
    calc(var(--mousedown-y) - calc(var(--button-width, 100px) * 200) / 2);
  background-size: calc(var(--button-width, 100px) * 200)
    calc(var(--button-width, 100px) * 200);
}
.css-1jp7iek:disabled {
  background-color: rgba(235, 235, 235, 1);
  background-image: none;
  border-color: rgba(235, 235, 235, 1);
  box-shadow: none;
  color: rgba(200, 201, 202, 1);
  outline: none;
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
}
.css-1jp7iek:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}
.css-1jp7iek:focus {
  outline: 2px solid rgba(2, 122, 151, 1);
  outline-offset: 1px;
}
.css-1jp7iek:focus:not(:focus-visible) {
  outline: 0;
}
@media (pointer: coarse) {
  .css-1jp7iek:hover {
    box-shadow: none;
  }
}
.css-1jp7iek:active {
  color: rgba(45, 46, 47, 1);
}
.css-1jp7iek:disabled {
  background-color: transparent;
  border: 1px solid rgba(227, 227, 227, 1);
}
.css-1jp7iek:focus {
  background-color: rgba(0, 0, 0, 0.12);
}
.css-1jp7iek:hover {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(45, 46, 47, 1);
  box-shadow: none;
}
.css-cfcjyn {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  -webkit-letter-spacing: -0.4px;
  -moz-letter-spacing: -0.4px;
  -ms-letter-spacing: -0.4px;
  letter-spacing: -0.4px;
  line-height: 28px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: rgba(45, 46, 47, 1);
  display: inline;
}
.css-ux5mu6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(45, 46, 47, 1);
  text-align: left;
}
.css-12i50in {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  color: rgba(110, 112, 114, 1);
  text-align: left;
}
.css-1um3nx {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: 600;
  color: rgba(2, 122, 151, 1);
  font-size: inherit;
}
.css-1um3nx:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.css-1um3nx:focus {
  outline: 2px solid rgba(2, 122, 151, 1);
  outline-offset: 1px;
}
.css-1um3nx:focus:not(:focus-visible) {
  outline: 0;
}
[data-font-weight="semibold"] .css-1um3nx {
  font-weight: bold;
}
.css-1p9ibgf {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(45, 46, 47, 1);
  text-align: left;
}
.css-106vfgv {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -0.1em;
}
.css-106vfgv::before {
  position: absolute;
  display: block;
  left: 0;
}
.css-106vfgv::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.css-106vfgv svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: inherit;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.css-1wayfxy {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-weight: 600;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: inherit;
  color: inherit;
  text-align: left;
}
.css-qyp8bo {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(110, 112, 114, 1);
  text-align: left;
}
/*! CSS Used from: Embedded */
/* div,
span,
h2,
p,
a,
section {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}
section {
  display: block;
} */
/*! CSS Used from: Embedded */
.css-xxqqxs {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -0.1em;
  fill: rgb(110, 112, 114);
}
.css-xxqqxs::before {
  position: absolute;
  display: block;
  left: 0px;
}
.css-xxqqxs::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0px;
}
.css-xxqqxs svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: inherit;
  display: block;
  inset: 0px;
}
/*! CSS Used from: https://s3-media0.fl.yelpcdn.com/assets/public/yelp-frontend-gondola-biz-details-pkg.yji-f05fe49aff007d44a7c4.css ; media=all */
@media all {
  .margin-t4__09f24__G0VVf {
    margin-top: 32px !important;
  }
  .margin-b3__09f24__l9v5d {
    margin-bottom: 24px !important;
  }
  .padding-t4__09f24__Y6aGL {
    padding-top: 32px !important;
  }
  .border--top__09f24__exYYb {
    border-top: 1px solid #ebebeb;
  }
  .border-color--default__09f24__NPAKY {
    border-color: #ebebeb;
  }
  .arrange__09f24__LDfbs {
    display: table;
    min-width: 100%;
    table-layout: auto;
  }
  .arrange__09f24__LDfbs .arrange-unit__09f24__rqHTg {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
  }
  .arrange-unit-fill__09f24__CUubG {
    width: 100%;
  }
  .vertical-align-middle__09f24__zU9sE > .arrange-unit__09f24__rqHTg {
    vertical-align: middle;
  }
  .vertical-align-baseline__09f24__fA6Jk > .arrange-unit__09f24__rqHTg {
    vertical-align: initial;
  }
  .gutter-2__09f24__CCmUo {
    border-collapse: initial;
    border-spacing: 16px 0;
    margin-left: -16px;
    margin-right: -16px;
  }
  .gutter-2__09f24__CCmUo.layout-wrap__09f24__GEBlv {
    margin-left: -8px;
    margin-right: -8px;
  }
  .gutter-2__09f24__CCmUo > .arrange-unit__09f24__rqHTg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 8px;
    margin-right: 8px;
  }
  .gutter-2__09f24__CCmUo.layout-wrap__09f24__GEBlv
    > .arrange-unit__09f24__rqHTg {
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
  }
  .gutter-auto__09f24__W9jlL {
    border-collapse: initial;
    border-spacing: 32px 0;
    margin-left: -32px;
    margin-right: -32px;
  }
  .gutter-auto__09f24__W9jlL > .arrange-unit__09f24__rqHTg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
  }
  @media only screen and (max-width: 1143px) {
    .gutter-auto__09f24__W9jlL {
      border-collapse: initial;
      border-spacing: 24px 0;
      margin-left: -24px;
      margin-right: -24px;
    }
    .gutter-auto__09f24__W9jlL > .arrange-unit__09f24__rqHTg {
      border-collapse: collapse;
      border-spacing: 0;
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  @media only screen and (max-width: 599px) {
    .gutter-auto__09f24__W9jlL {
      border-collapse: initial;
      border-spacing: 12px 0;
      margin-left: -12px;
      margin-right: -12px;
    }
    .gutter-auto__09f24__W9jlL > .arrange-unit__09f24__rqHTg {
      border-collapse: collapse;
      border-spacing: 0;
      margin-left: 6px;
      margin-right: 6px;
    }
  }
  .layout-wrap__09f24__GEBlv {
    display: block;
    font-size: 0;
    line-height: 1;
    text-align: left;
  }
  .layout-wrap__09f24__GEBlv > .arrange-unit__09f24__rqHTg {
    zoom: 1;
    display: inline-block;
    *display: inline;
    font-size: 14px;
    line-height: 1.28571em;
    width: auto;
  }
  .layout-wrap__09f24__GEBlv.gutter-2__09f24__CCmUo {
    margin-top: -16px;
  }
  .layout-wrap__09f24__GEBlv.gutter-2__09f24__CCmUo
    > .arrange-unit__09f24__rqHTg {
    margin-top: 16px;
  }
  .layout-2-units__09f24__PsGVW > .arrange-unit__09f24__rqHTg {
    width: 50%;
  }
}
/*! CSS Used from: https://s3-media0.fl.yelpcdn.com/assets/public/components-MoreBusinessInfo.yji-2b847120a4c94e3ba1f2.chunk.css ; media=all */
@media all {
  .label-spacing-v2__09f24__RiEXv {
    margin-left: 6px;
  }
}
/*! CSS Used fontfaces */
@font-face {
  font-display: optional;
  font-family: Poppins;
  font-weight: 500;
  src: url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-medium.yji-dc16a3592fdb61b620cc.woff2)
      format("woff2"),
    url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-medium.yji-468213c1a9cf4ac0ed6b.woff)
      format("woff");
}
@font-face {
  font-display: optional;
  font-family: Poppins;
  font-weight: 700;
  src: url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-bold.yji-9690ce6275ddc5645cfa.woff2)
      format("woff2"),
    url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-bold.yji-0a53cdc68b4438be7b7d.woff)
      format("woff");
}
@font-face {
  font-display: optional;
  font-family: Open Sans;
  font-weight: 400;
  src: url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-regular.yji-aff9b80e384301f2ae0c.woff2)
      format("woff2"),
    url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-regular.yji-2fe27a53dd7a5a133a02.woff)
      format("woff");
}
@font-face {
  font-display: optional;
  font-family: Open Sans;
  font-weight: 600;
  src: url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-semibold.yji-d3abae27d3eac73b40a5.woff2)
      format("woff2"),
    url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-semibold.yji-c22248b713a484eef0c3.woff)
      format("woff");
}
@font-face {
  font-display: optional;
  font-family: Open Sans;
  font-weight: 700;
  src: url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-bold.yji-1145ff0b749fff2d31bb.woff2)
      format("woff2"),
    url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-bold.yji-9111930609adeadfe225.woff)
      format("woff");
}
