/* TODO Add site wide styles */
*,
body {
  font-family: Helvetica Neue, sans-serif;
  margin: 0px;
}

li {
  list-style-type: none;
}

/* Do not comment this in it will break the nav bar styling */
/* a,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover,
a:active {
  color: white;
  text-decoration: none;
} */

.roundbox {
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 6px 6px;
}

.boxshadow {
  -moz-box-shadow: 3px 3px 5px #535353;
  -webkit-box-shadow: 3px 3px 5px #535353;
  box-shadow: 3px 3px 5px #535353;
}

.errors-ul {
  margin-bottom: 20px;
  padding: 0 30px;
  width: 100%;
}

.error-li {
  font-size: 1.5rem;
  margin-top: -22rem;
  margin-bottom: 22rem;
  padding: 10px;
  list-style-type: none;
  color: red;
  font-weight: bold;
  text-align: center;
}

.error-li-image-edit {
  font-size: 1rem;
  list-style-type: none;
  color: red;
  font-weight: bold;
  text-align: center;
}
.error-li-comment-post {
  font-size: 1rem;
  margin-top: -5rem;
  margin-bottom: 1rem;
  padding: 10px;
  list-style-type: none;
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.delete-button,
.cancel-button {
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
  border-radius: 3px;
  width: 300px;
  transition-duration: 0.2s;
  cursor: pointer;
  margin: 1em;
}

.delete-button:hover,
.cancel-button:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.delete-button {
  background-color: #a8927a;
  border: 1px solid #a8927a;
}

.delete-button:hover {
  background-color: rgb(255, 10, 55);
  border: 1px solid rgb(255, 10, 55);
}

.delete-button-disabled {
  margin: 30px 10px 10px 10px;
  color: grey;
  padding: 10px;
  border-radius: 3px;
  width: 300px;
  transition-duration: 0.2s;
}

.cancel-button {
  background-color: grey;
  border: 1px solid grey;
}
.cancel-button:hover {
  background-color: rgb(140, 140, 140);
  border: 1px solid rgb(140, 140, 140);
}

.cancel-delete-button:hover {
  background-color: grey;
  border: 1px solid grey;
}

::-webkit-scrollbar-track {
  border: 5px solid white;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 10px;
  z-index: 1;
  background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
  z-index: 1;
  background-color: rgb(168, 168, 168);
  border-radius: 5px;
}
