.allReviewsContainer {
  /* display: grid; */
  /* grid-template-columns: 2fr 2fr; */
  margin: 0 0 0 50px;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.reviewFormModal {
  text-align: center;
  font-size: 1.3em;
  background-color: #252525b3;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: white;
}

.modifyReviewBtns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modifyBtn {
  padding: 5px;
  border-radius: 10px;
  padding: 2.5px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  margin: 5px;
  margin-bottom: 1em;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 2px rgb(70, 67, 67);
  min-width: 3em;
  padding: 0.25em 1em;
}

.modifyReviewBtns button {
  max-width: 60px;
  text-align: center;
}

.modifyBtn:hover {
  border: 1px solid #ee5557;
  color: #ee5557;
  transform: scale(1.06);
  cursor: pointer;
}

.comment {
  z-index: 1;
  scroll-behavior: smooth;
}

.x {
  margin-top: -5%;
  margin-right: -100%;
  cursor: pointer;
}

.commentBox {
  width: 100%;
  height: 175px;
}

.singleReview {
  width: 85%;
  padding: 4em 1em 0 1em;
  border-radius: 20px;
  min-height: 9em;
}

.singleReview .modifyReviewBtns {
  opacity: 0;
}

.singleReview:hover .modifyReviewBtns {
  opacity: 100;
  transition: all 0.5s 0s;
}

.reviewForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5em;
  margin: 2em;
  justify-content: center;
}

.commentForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ratings {
  text-align: center;
}

.commentBoxInput {
  width: 50em;
  margin: 2em;
  height: 10em;
}

.reviewForm button {
  width: 20em;
}

.avatar {
  width: 75px;
  border-radius: 80px;
  position: absolute;
  margin-top: -3em;
}

.reviews_container {
  margin-top: 5em;
}

.rating {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* position: relative; */
  margin-top: 2em;
}

.singleReview h3 {
  position: absolute;
  margin-left: 5em;
  margin-top: -2em;
}

.singleReview p {
  position: absolute;
  margin-left: 6em;
  margin-top: 0.1em;
  width: fit-content;
}

.starAvgs {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-left: 20%;
}

.starAvgs > div {
  padding-bottom: 1em;
}

.reviewBar {
  height: 4px;
  background-color: rgb(34, 34, 34);
  border-radius: 15px;
}

.bar {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full {
  width: 120px;
  height: 4px;
  background-color: rgb(221, 221, 221);
  border-radius: 15px;
}

.avgRatingPerCategory {
  font-size: 14px;
  color: rgb(34, 34, 34);
}

.reviewError {
  padding: 1em;
  background-color: rgba(235, 27, 72, 0.5);
  border-radius: 10px;
}

.starBox {
  width: 90%;
  padding: 1em;
  border: 1px solid black;
  margin: 1em;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.review-title-container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 2em;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.reviews-h2 {
  margin-right: 1em;
  font-size: 20px;
  color: rgba(45, 46, 47, 1);
  margin-top: 1em;
  font-weight: bold;
}

.delete-your-review-confirmation-text {
  margin-bottom: 1em;
}

.starTitle {
  font-size: 1.1em;
}

/*! CSS Used from: Embedded */
/* div,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */
.css-cednmx {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-property: background-image, background-color,
    background-position, background-size, border-color, box-shadow, opacity;
  transition-property: background-image, background-color, background-position,
    background-size, border-color, box-shadow, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 100%;
  background-color: rgba(224, 7, 7, 1);
  color: rgba(255, 255, 255, 1);
  background-position: calc(
      var(--mousedown-x) - calc(var(--button-width, 100px) * 200) / 2
    )
    calc(var(--mousedown-y) - calc(var(--button-width, 100px) * 200) / 2);
  background-size: calc(var(--button-width, 100px) * 200)
    calc(var(--button-width, 100px) * 200);
}
.css-cednmx:disabled {
  background-color: rgba(235, 235, 235, 1);
  background-image: none;
  border-color: rgba(235, 235, 235, 1);
  box-shadow: none;
  color: rgba(200, 201, 202, 1);
  outline: none;
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
}
.css-cednmx:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 599px) {
  .responsive .css-cednmx {
    box-shadow: none;
    font-weight: normal;
  }
}
.css-cednmx:focus {
  outline: 2px solid rgba(2, 122, 151, 1);
  outline-offset: 1px;
}
.css-cednmx:focus:not(:focus-visible) {
  outline: 0;
}
@media (pointer: coarse) {
  .css-cednmx:hover {
    box-shadow: none;
  }
}
.css-cednmx:active {
  color: rgba(255, 255, 255, 1);
}
.css-cednmx:focus {
  background-color: rgb(249, 19, 27);
}
.css-cednmx:hover {
  background-color: #ff9900;
  color: rgba(255, 255, 255, 1);
}
.css-1enow5j {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  color: inherit;
  text-align: center;
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  -webkit-letter-spacing: -0.2px !important;
  -moz-letter-spacing: -0.2px !important;
  -ms-letter-spacing: -0.2px !important;
  letter-spacing: -0.2px !important;
  line-height: 24px !important;
  margin-top: 1px !important;
}
/*! CSS Used from: Embedded */
div,
span {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}
/*! CSS Used from: https://s3-media0.fl.yelpcdn.com/assets/public/yelp-frontend-shared-e0f30a2f84dfce26d33e0420871d220ad13a69ca-pkg.yji-759f50a654bf67a8984a.css ; media=all */
@media all {
  .margin-t4__09f24__G0VVf {
    margin-top: 32px !important;
  }
  .padding-b6__09f24__hfdiP {
    padding-bottom: 48px !important;
  }
  .border-color--default__09f24__NPAKY {
    border-color: #ebebeb;
  }
}
/*! CSS Used fontfaces */
@font-face {
  font-display: optional;
  font-family: Poppins;
  font-weight: 500;
  src: url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-medium.yji-dc16a3592fdb61b620cc.woff2)
      format("woff2"),
    url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-medium.yji-468213c1a9cf4ac0ed6b.woff)
      format("woff");
}
@font-face {
  font-display: optional;
  font-family: Poppins;
  font-weight: 700;
  src: url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-bold.yji-9690ce6275ddc5645cfa.woff2)
      format("woff2"),
    url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-bold.yji-0a53cdc68b4438be7b7d.woff)
      format("woff");
}
